<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['products']">All products<span class="sr-only">(current)</span></a>
      </li>
      <li *ngFor="let c of categories" class="nav-item">
        <a class="nav-link" [routerLink]="['products', c.id]">{{ c.name }}<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <a class="nav-link" [routerLink]="['cart']">Cart items: {{ count }}<span class="sr-only">(current)</span></a>
  </div>
</nav>
