<div class="container">
  <div class="col">
      <div class="card" style="width: 20rem;">
        <img [src]="product.image" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">{{ product.price }}</p>
          <div class="buttons">
            <a (click)="addToCart(product)" class="btn btn-primary">Add to cart</a>
            <a (click)="removeToCart(product)" class="btn btn-primary">Remove to cart</a>
          </div>
        </div>
     </div>
  </div>
</div>

